.button {
    color: darkblue;
    background-color: darkkhaki;
    padding: 1rem;
    border-radius: 10px;
}

.btnActive {
    background-color: #555555;
    border: 1px solid darkkhaki;
    color: darkkhaki;
}

ul {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.5rem
}